extends layout

block pagescript
  script(src="/javascripts/about.js", type="text/javascript")

block content
    header.pips2header 
        .leftcontainer
            img#usgsNavIcon(src="images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo", onclick="navigateTo('https://www.usgs.gov/centers/astrogeology-science-center')")
        a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
            img(src="images/pieLogo.svg", alt="PIElogo", class="titleLogo")
        .rightcontainer(style="text-align:right")
            img.pilotimage(src="images/pilot-logo.png", alt="pilotlogo")
            img.gdalimage(src="images/GDALLogo.svg", alt="GdalLogo")
    span.maincontent
        .mainaboutbox
            h2.basicpageheader="How to get started"
            #aboutcontent1.basicpagecontent

block footer
    footer.mainfooter
        .leftfooter
            .footerbuttongroup
                a(href="")='Getting Started'
                a(href="/contact")='Contact Us'
                a(href="/faq")='FAQ'

        h5.rightfooter="Developed by the USGS Astrogeology Science Center"