extends layout

block pagescript
    script(src="/javascripts/about.js", type="text/javascript")

block content
    header.pips2header 
        .leftcontainer
            img#usgsNavIcon(src="images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo", onclick="navigateTo('https://www.usgs.gov/centers/astrogeology-science-center')")
        a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
            img(src="images/pieLogo.svg", alt="PIElogo", class="titleLogo")
        .rightcontainer(style="text-align:right")
            img.gdalimage(src="images/GDALLogo.svg", alt="GdalLogo")
    div.mainaboutbox
        span.navbar
            h3.disabled#start(onclick="if(!this.classList.contains('disabled')){updateAboutContent(this.id)}")="Getting Started"
            h3#interaction(onclick="if(!this.classList.contains('disabled')){updateAboutContent(this.id)}")="Interaction"
            h3#pilot(onclick="if(!this.classList.contains('disabled')){updateAboutContent(this.id)}")="Using PILOT"
            h3#pow(onclick="if(!this.classList.contains('disabled')){updateAboutContent(this.id)}")="Using POW"
        #changebox.changebox
            .basicpageheader="Getting Started"
            .descBox2
                p="In order to use PIE you should first obtain map projected images or web safe images. The following sections will give you an introduction to the PIE user interface and a quick demonstation of how to obtain map projected images from PILOT. If you want to use POW follow the instructions on the POW homepage."
            .basicpageheader="PIE Interface"
            .basicpagecontent
                pre.UIHolder
                    img.UIIntro(alt="UI1", src="/images/UI-c2.png")
    br
block footer
    footer.mainfooter
        .leftfooter
            .footerbuttongroup
                a.disabled(href="")='Getting Started'
                a(href="/faq")='FAQ'

        h5.rightfooter="Developed by the USGS Astrogeology Science Center"