extends layout

block pagescript

block content
    header.pips2header 
        .leftcontainer
            img#usgsNavIcon(src="images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo", onclick="navigateTo('https://www.usgs.gov/centers/astrogeology-science-center')")
        a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
            img(src="images/pieLogo.svg", alt="PIElogo", class="titleLogo")
        .rightcontainer(style="text-align:right")
            img.gdalimage(src="images/GDALLogo.svg", alt="GdalLogo")
    span.maincontent-sm
        .mainaboutbox
            h1.basicpageheader="Getting Started"
            #aboutcontent1.basicpagecontent
                .basicpagecontent
                    p="In order to use PIE you should first obtain map projected images or web safe images. The following sections will give you an introduction to the PIE user interface and a quick demonstation of how to obtain map projected images from PILOT. If you want to use POW follow the instructions on the POW homepage."
                br

                h2.basicpageheader="PIE Interface"
                .basicpagecontent
                    pre
                        pre.UIHolder
                            img.UIIntro(alt="UI1", src="/images/UI-c2.png")
                
                h2.basicpageheader="How To Add Icons"
                pre
                    h3.innerpageheader="Drag and drop icons onto images."
                    pre.UIHolder
                        img.UIGif(alt="UI2", src="/images/sample1.gif")
                
                h2.basicpageheader="How To Add Lines & Boxes"
                pre
                    h3.innerpageheader="Press and hold to draw lines and boxes. Release the mouse to place the annotation."
                    pre.UIHolder
                        img.UIGif(alt="UI3", src="/images/sample2.gif")

                //- TODO: this page needs to be updated after I add the POW object.
                h2.basicpageheader="How To Use PILOT To Find Images"
                pre
                    i
                        b="Navigate to the "
                            a.inlayedlink(href='https://pilot.wr.usgs.gov/', target='_blank')="PILOT"
                        b=" homepage."
                    pre
                        pre
                            i
                                b="1. Select "
                            text="the "
                            i
                                b="Planetary Body "
                            text="you would like to search within."
                            br
                            img.pilotstepsimage(alt='pilotimage1' src='/images/pilot1.PNG')
                        pre
                            i
                                b="2. Click "
                            text="the "
                            i
                                b="Map Tab "
                            text="to see the pds map view."
                            br
                            img.pilotstepsimage(alt='pilotimage3' src='/images/pilot3.PNG')
                        pre
                            i
                                b="3. Click "
                            text="the "
                            i
                                b="Polygon Button "
                            text="to the left side of the map."
                            br
                            img.pilotstepsimage(alt='pilotimage4' src='/images/pilot4.PNG')
                        pre
                            i
                                b="4. Draw "
                            text="a "
                            i
                                b="Shape "
                            text="to cut images out of the map."
                            br
                            img.pilotstepsimage(alt='pilotimage5' src='/images/pilot5.PNG')
                        pre
                            i
                                b="5. Check the checkboxes "
                            text="for each image you want to process using "
                            i
                                b="POW."
                            br
                            img.pilotstepsimage(alt='pilotimage6' src='/images/pilot6.PNG')
                        pre
                            i
                                b="6. Click "
                            text="the POW bubble for "
                            i
                                b="Projections On the Web."
                            text=" Then click go!"
                            br
                            img.pilotstepsimage(alt='pilotimage7' src='/images/pilot7.PNG')
                            br
                            i
                                b=" 7. Click Submit."
                            br
                            img.pilotstepsimage(alt='pilotimage8' src='/images/pilot8.PNG')
                            br
                            br
                
            h1.basicpageheader="Processing Images With POW"
            .importantnotecontent
                .importantnotecontent
                    h4.importantnote-main
                        b="Important Note:    "
                        i="In Order to use POW you need to sign up using an email address" 
                    h5.importantnote-desc
                        i="Follow the 'Quick step-by-step' "
                        a.inlayedlink(href="https://astrocloud.wr.usgs.gov", target="_blank")="here"
                        i=" to sign up for POW access."
            br
            br

block footer
    footer.mainfooter
        .leftfooter
            .footerbuttongroup
                a.disabled(href="")='Getting Started'
                a(href="/faq")='FAQ'

        h5.rightfooter="Developed by the USGS Astrogeology Science Center"