html 
    head
        title="Contact Us"
        style
            include css/pips2.css
        script
            include scripts/contact.js

    body
        header.pips2header 
            a.leftcontainer(href="https://www.usgs.gov/centers/astrogeology-science-center", target='_blank')
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
                img(src="/images/pieLogo.svg", alt="PIElogo", class="titleLogo")
            .rightcontainer(style="text-align:right")
                img.gdalimage(src="/images/github.svg", alt="gitLogo")
        span.maincontent
            .mainaboutbox
                h2.basicpageheader="Contact Us"
                #contactcontent1.basicpagecontent
            
        footer.mainfooter
            .leftfooter
                .footerbuttongroup
                    a(href="/about")='Getting Started'
                    a(href="")='Contact Us'
                    a(href="/faq")='FAQ'

            h5.rightfooter="Developed by the USGS Astrogeology Science Center"