html 
    head
        title="FAQ"
        style
            include css/pips2.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
        

    body
        header.pips2header 
            .leftcontainer
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
                img(src="/images/piedark.png", alt="PIElogo", class="pieLogo")
            .rightcontainer(style="text-align:right")
                img.gdalimage(src="/images/gitlogo.png", alt="gitLogo")
        span.maincontent
            .mainaboutbox
                h2.basicpageheader="Planetary Image Editor"
                #aboutcontent1.basicpagecontent
                h2.basicpageHeadert="Purpose"
                #aboutcontent2.basicpagecontent
                h2.basicpageHeadert="How to Use"
                #aboutcontent3.basicpagecontent

            
        footer.mainfooter
            .leftfooter
                .footerbuttongroup
                    a(href="/about")='About PIE'
                    a(href="/contact")='Contact Us'
                    a(href="")='FAQ'

            h5.rightfooter="Developed by the USGS Astrogeology Science Center"