extends layout

block pagescript

block content
    header.pips2header 
        .leftcontainer
            img#usgsNavIcon(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo", onclick="navigateTo('https://www.usgs.gov/centers/astrogeology-science-center')")
        a.centercontainer(style="text-align:center; text-decoration: none;", href="/")
            img(src="/images/pieLogo.svg", alt="PIElogo", class="titleLogo")
        .rightcontainer(style="text-align:right")
            img.faqimage(src="/images/questionMark.svg", alt="question")
    span.maincontent-sm
        .mainaboutbox
            h2.basicpageheader="What is PIE?"
            #faqcontent1.basicfaqcontent
                .answerBox
                    i
                        b="Planetary Image Editor"
                .descBox
                    text="Born from the "
                    i="Planetary Image Caption Writer Project "
                    text="by Laszlo Kestay and the USGS, "
                    b
                        i="PIE "
                    text="aims to simplify the figure making process for planetary researchers that use "
                    a.descanchor(href='https://astrocloud.wr.usgs.gov/' , target='_blank')="POW"
                    text=" and "
                    a.descanchor(href='https://pilot.wr.usgs.gov/' , target='_blank')="PILOT"
                    text=" to create publication images. Using ISIS Cube files or GeoTIFF files, PIE helps automate some of the more tedious parts of creating a scientificly acceptable figure"
            br
            h2.basicpageheader="How does it work?"
            #faqcontent2.basicfaqcontent
                .answerBox
                        i
                            b="GDAL & ISIS"
                .descBox
                    text="GDAL is the "
                    i="Geospacial Data Abstraction Library "
                    text="It is primarily used to manipulate GeoTIFF files and other special purpose data files (Ex: ISIS3 Cube Files). ISIS3 is the "
                    b
                        i="Integrated System for Imagers and Spectrometers "
                    text="which is a software system built by the Astrogeology team at the USGS for the purpose of reading PDS image data into a more managable format."
            
            br
            h2.basicpageheader="How do I start?"
            #faqcontent3.basicfaqcontent
                .answerBox
                    i
                        b="Follow How To"
                .descBox
                    text="Follow the instructions presented "
                    a.descanchor(href='/about', target='_blank')="here."
                    text=" When POW gives you a job id come back here and type it into the folder address field."
            br
            h2.basicpageheader="How do I contact the devs?"
            #faqcontent4.basicfaqcontent
                .answerBox
                    i
                        b="File an issue on our GitHub"
                .descBox
                    text="Navigate to this "
                    a.descanchor(href='https://github.com/ChaddFrasier/PIE/issues/new/choose', target='_blank')="link"
                    text=" to file an issue or ask questions. Be sure to choose the issue template that best fits your needs."
                    br
            h2.basicpageheader="Helpful Links"
            #faqcontent5.basicpagecontent(style='display: flex; padding:0; text-align:left')
                .answerBox
                    .linklist
                        a(href='https://github.com/ChaddFrasier/PIE' , target='_blank')="Planetary Image Editor (PIE) Code"
                        br
                        br
                        a(href='https://www.usgs.gov/centers/astrogeology-science-center/about', target='_blank')="USGS Astrogeology"
                        br
                        br
                        a(href='https://astrocloud.wr.usgs.gov/', target='_blank')="Processing On the Web (POW)"
                        br
                        br
                        a(href='https://pilot.wr.usgs.gov/', target='_blank')="Planetary Image LOcator Tool (PILOT)"
                        br
                        br
                        a(href='https://isis.astrogeology.usgs.gov/index.html', target='_blank')="Integrated System for Imagers and Spectrometer (ISIS)"


                .descBox
                    text="> The source code for this service."
                    br
                    br
                    text="> Homepage for USGS Astrogeology"
                    br
                    br
                    text="> Learn about POW"
                    br
                    br
                    text="> Try out PILOT"
                    br
                    br
                    text="> Learn about ISIS3"
                    br
            br

block footer
    br
    footer.mainfooter
        .leftfooter
            .footerbuttongroup
                a(href="/about")='Getting Started'
                a.disabled(href="")='FAQ'

        h5.rightfooter="Developed by the USGS Astrogeology Science Center"