html 
    head
        title="Home"
        style
            include css/pips2.css
    body
        header
            .centercontainer(style="text-align:center; margin: 0 auto 0 auto;")
                h2="Planetary Image Publication Server"
            .menubar
                ul
                    li="File"
                    li="Options"
        h4="You Typed " + usgsEmail
        h5="password was " + usgsPassword