html 
    head
        title="Home"
        style
            include css/pips2.css
    body
        header.pips2header 
            .leftcontainer
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            .centercontainer(style="text-align:center")
                img(src="/images/piedark.png", alt="PIElogo", class="pieLogo")
            .rightcontainer(style="text-align:right")
                img(src="/images/nasa-logo.png", alt="NasaLogo")
        span(style="display:flex; height:75%;")
            .toolbox="this is a tool box here"
            .editbox="this will be where the edit box goes"
        footer.mainfooter
            .leftfooter="Left side of footer"
            .centerfooter="center of footer"
            .rightfooter="right of footer"
        .trademark(style="heigh:5px;")="@ChaddFrasier 2020"