html 
    head
        title="PIE"
        style
            include css/pips2.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
        script
            include scripts/index.js

    body
        header.pips2header 
            a.leftcontainer(href="https://www.usgs.gov/centers/astrogeology-science-center", target='_blank')
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            .centercontainer(style="text-align:center")
                img(src="/images/pieFuture.png", alt="PIElogo", class="titleLogo")
            .rightcontainer(style="text-align:right")
                img.headerimage(src="/images/LRO_0.png", alt="lroLogo")
                img.headerimage(src="/images/pdslogo.png", alt="PSDLogo")
        span.maincontent
            //- Tool Box Section 
            #toolbox.toolboxcontainer
                #toolcontainer.toolscontainer
                    h3.dividerline="Tools"
                    .windowoptionsbar(style="display:flex;")
                        h4="File Tools"
                        button.windowminimizebtn='▲'
                    #filetools.filetoolsbox
                        label.text(for="figureoutputsize")="Choose an output size"
                        br
                        select#figsizeselect
                            each figsize in ["1500x1500", "2500x2000"]
                                option(value=fidsize) #{figsize}
                        br
                        label.text(for="backgroundcolor")="Select a background color"
                        br
                        input#backgroundcolor(type="color", name="backgroundcolor")

                    .windowoptionsbar(style="display:flex;")
                        h4="Editing Tools"
                        button#editminibtn.windowminimizebtn='▼'
                    #edittoolsbox.edittoolsbox.closed
                        label.text(for="northarrowopt")="North Button"
                        br
                        button#northarrowopt(type="button")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                                g#northgroup(width="25px" height="25px" stroke-width="10")
                                    path( stroke="black" fill="white" d="M397.344,216.64L269.664,7.68C266.752,2.912,261.568,0,256,0s-10.752,2.912-13.664,7.648l-127.68,208.96 c-4.16,6.784-2.656,15.616,3.488,20.704c6.112,5.024,15.072,4.832,20.96-0.544C170.688,207.904,212.224,192,256,192 s85.312,15.904,116.896,44.768c5.856,5.344,14.784,5.568,20.96,0.544C400,232.224,401.504,223.392,397.344,216.64z")
                                    path( stroke="black" fill="white" d="M256,224c-79.392,0-144,64.608-144,144s64.608,144,144,144s144-64.608,144-144S335.392,224,256,224z M304,432 c0,7.392-5.088,13.888-12.32,15.552c-1.248,0.32-2.464,0.448-3.68,0.448c-5.984,0-11.552-3.328-14.304-8.832L240,371.776V432 c0,8.832-7.168,16-16,16c-8.832,0-16-7.168-16-16V304c0-7.392,5.12-13.888,12.32-15.552c7.136-1.856,14.656,1.792,17.984,8.416 L272,364.224V304c0-8.832,7.168-16,16-16c8.832,0,16,7.168,16,16V432z")
                        br
                        label.text(for="sunarrowbtn")="Sun Button"
                        br
                        button#sunarrowopt(type="button")
                            svg.btnvectorgraphic(viewBox="0 0 25 25")
                                g#sungroup(width=25, height=25)
                                        circle(r="11", cx="12.5", cy="12.5", fill="black", stroke-width="2", stroke="white")      
                                        circle(r="4", cx="12.5", cy="12.5", fill="white", stroke="white")
                        br
                        label.text(for="observerarrowbtn")="Observer Button"
                        br
                        //-TODO:
                        button#observerarrowopt(type="button")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve")
                                g#observergroup(width=25, height=25, stroke-width="5")
                                    path( stroke="black" fill="white" d="M387.401,93.183C348.364,53.991,295.317,31.972,240,32c-54.664-0.031-107.128,21.534-145.968,60 c-0.225,0.187-0.439,0.388-0.64,0.6c-81.349,81.027-81.61,212.659-0.583,294.009s212.659,81.61,294.009,0.583 S468.428,174.532,387.401,93.183z M431.808,232.344l-145.064,35.84l95.064-157.48 C412.33,144.065,430.045,187.161,431.808,232.344z M370.168,99.024l-77.12,127.744l-2.4-10.008 c-0.048-0.232-0.088-0.44-0.136-0.624L250.216,48.28C294.905,50.641,337.352,68.597,370.168,99.024z M279.904,240.528v0.464 c-0.01,1.54-0.13,3.077-0.36,4.6l-0.056,0.416c-0.104,0.8-0.28,1.6-0.536,2.912c-0.136,0.632-0.312,1.296-0.488,1.952 L267.68,268.8c-0.8,0.8-1.6,1.52-2.608,2.32c-1.008,0.8-1.848,1.448-2.4,1.84l-1.496,0.96c-0.544,0.36-1.12,0.704-1.704,1.032 l-12.944,3.2l-7.144,1.8c-0.432,0-0.8,0-1.192,0h-0.232h-0.632l-3.336-0.44c-0.8-0.104-1.6-0.28-2.912-0.536 c-0.672-0.144-1.36-0.336-2.072-0.536L211.2,267.696c-0.8-0.8-1.544-1.664-2.4-2.68c-0.689-0.796-1.322-1.638-1.896-2.52 c-0.148-0.31-0.316-0.609-0.504-0.896c-0.486-0.685-0.927-1.401-1.32-2.144l-4.976-20.064v-0.912c-0.02-0.344-0.02-0.688,0-1.032 c0.046-0.264,0.073-0.532,0.08-0.8c0.117-0.596,0.187-1.201,0.208-1.808c0-0.048,0.112-0.8,0.112-0.8 c0.104-0.8,0.28-1.6,0.536-2.912c0.144-0.672,0.336-1.36,0.536-2.072L212.32,211.2l0.296-0.272c1.756-1.733,3.702-3.263,5.8-4.56 c0.686-0.485,1.402-0.926,2.144-1.32l20.24-5.016c2.731,0.037,5.451,0.367,8.112,0.984c0.682,0.131,1.353,0.313,2.008,0.544 l0.648,0.176l17.232,10.592c1.698,1.752,3.232,3.656,4.584,5.688c0.667,1.024,1.275,2.053,1.824,3.088L279.904,240.528z M233.728,48.16L233.728,48.16l34.864,145.264l-9.152-5.6c-0.343-0.236-0.701-0.45-1.072-0.64l-146.616-89.92 C145.327,66.99,188.543,49.593,233.728,48.16z M100,108.8l127.32,78.072l-11.552,2.864c-0.2,0.048-0.392,0.096-0.584,0.16 L48.224,231.2C50.296,185.522,68.664,142.099,100,108.8z M48.193,247.678l145.055-35.838L98.192,369.296 C67.675,335.94,49.961,292.852,48.193,247.678z M109.864,380.976L187,253.168l2.728,10.976c0,0.144,0.072,0.28,0.112,0.416 l0.08,0.288l41.28,166.928C186.021,429.721,143.031,411.723,109.864,380.976z M247.656,431.808l-35.84-145.064l157.48,95.064 C335.935,412.33,292.839,430.045,247.656,431.808z M380.976,370.168l0.008,0.024L253.144,293l10.632-2.64 c0.104,0,0.2-0.056,0.296-0.08c0.165-0.034,0.328-0.077,0.488-0.128c0.168-0.048,0.344-0.08,0.512-0.136L431.776,248.8 C429.729,293.991,411.73,336.993,380.976,370.168z")
                                    path(stroke="black" fill="white" d="M240,0C107.452,0,0,107.452,0,240s107.452,240,240,240s240-107.452,240-240C479.85,107.514,372.486,0.15,240,0z M240,464 C116.288,464,16,363.712,16,240S116.288,16,240,16s224,100.288,224,224C463.859,363.653,363.653,463.859,240,464z")
                        br
                        label.text(for="pencilopt")="Pencil Button"
                        br
                        button#penciloptbtn(type="button")
                            svg.btnvectorgraphic(enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg")
                                g#pencilgroup(stroke="black" stroke-width="2")
                                    path(d="m384.721 0-323.626 323.627-61.095 188.373 188.374-61.094 323.626-323.627zm84.853 127.279-42.427 42.427-84.853-84.853 42.426-42.427zm-388.611 232.331 71.427 71.428-32.036 10.39-49.782-49.782zm14.501-27.925 225.617-225.618 31.82 31.82-225.618 225.617zm53.032 53.032 225.618-225.619 31.82 31.82-225.618 225.619zm-88.313 38.965 28.136 28.136-41.642 13.505z")
                        br
                        label.text(for="outlineopt")="Outline Box"
                        br
                        button#outlinebtnopt(type="button")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                                g#outlinegroup(stroke="white", fill="black")
                                    path(d="M503.706,0H468.32c-4.58,0-8.294,3.712-8.294,8.294v9.4h-27.093c-4.58,0-8.294,3.712-8.294,8.294 c0,4.581,3.713,8.294,8.294,8.294h27.093v9.4c0,4.581,3.713,8.294,8.294,8.294h9.4v27.093c0,4.581,3.713,8.294,8.294,8.294 c4.58,0,8.294-3.712,8.294-8.294V51.974h9.4c4.58,0,8.294-3.712,8.294-8.294V8.294C512,3.712,508.287,0,503.706,0z M495.413,35.387h-18.799V16.587h18.799V35.387z")
                                    path(d="M503.706,460.026h-9.4v-27.093c0-4.581-3.713-8.294-8.294-8.294c-4.58,0-8.294,3.712-8.294,8.294v27.093h-9.4 c-4.58,0-8.294,3.712-8.294,8.294v9.4h-27.093c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h27.093v9.4 c0,4.581,3.713,8.294,8.294,8.294h35.387c4.58,0,8.294-3.712,8.294-8.294V468.32C512,463.738,508.287,460.026,503.706,460.026z M495.413,495.413h-18.799v-18.799h18.799V495.413z")
                                    path(d="M25.987,212.32c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C34.281,216.032,30.567,212.32,25.987,212.32z")
                                    path(d="M25.987,159.24c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C34.281,162.952,30.567,159.24,25.987,159.24z")
                                    path(d="M25.987,265.4c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294	v-17.693C34.281,269.112,30.567,265.4,25.987,265.4z")
                                    path(d="M25.987,106.16c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C34.281,109.872,30.567,106.16,25.987,106.16z")
                                    path(d="M25.987,318.479c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C34.281,322.192,30.567,318.479,25.987,318.479z")
                                    path(d="M25.987,371.559c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C34.281,375.272,30.567,371.559,25.987,371.559z")
                                    path(d="M486.013,212.32c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C494.307,216.032,490.593,212.32,486.013,212.32z")
                                    path(d="M486.013,159.24c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C494.307,162.952,490.593,159.24,486.013,159.24z")
                                    path(d="M486.013,265.4c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C494.307,269.112,490.593,265.4,486.013,265.4z")
                                    path(d="M486.013,106.16c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294 v-17.693C494.307,109.872,490.593,106.16,486.013,106.16z")
                                    path(d="M486.013,318.479c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294 c4.58,0,8.294-3.712,8.294-8.294v-17.693C494.307,322.192,490.593,318.479,486.013,318.479z")
                                    path(d="M486.013,371.559c-4.58,0-8.294,3.712-8.294,8.294v17.693c0,4.581,3.713,8.294,8.294,8.294 c4.58,0,8.294-3.712,8.294-8.294v-17.693C494.307,375.272,490.593,371.559,486.013,371.559z")
                                    path(d="M238.307,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S242.887,477.719,238.307,477.719z")
                                    path(d="M185.227,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S189.807,477.719,185.227,477.719z")
                                    path(d="M291.387,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S295.967,477.719,291.387,477.719z")
                                    path(d="M132.147,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S136.727,477.719,132.147,477.719z")
                                    path(d="M79.067,477.719H51.974v-9.4c0-4.581-3.713-8.294-8.294-8.294h-9.4v-27.093c0-4.581-3.713-8.294-8.294-8.294 c-4.58,0-8.294,3.712-8.294,8.294v27.093h-9.4c-4.58,0-8.294,3.712-8.294,8.294v35.387C0,508.288,3.713,512,8.294,512H43.68	c4.58,0,8.294-3.712,8.294-8.294v-9.4h27.093c4.58,0,8.294-3.712,8.294-8.294S83.647,477.719,79.067,477.719z M35.387,495.413 H16.587v-18.799h18.799V495.413z")
                                    path(d="M344.466,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S349.047,477.719,344.466,477.719z")
                                    path(d="M397.546,477.719h-17.693c-4.58,0-8.294,3.712-8.294,8.294s3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294S402.127,477.719,397.546,477.719z")
                                    path(d="M238.307,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C246.6,21.406,242.887,17.693,238.307,17.693z")
                                    path(d="M185.227,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C193.521,21.406,189.807,17.693,185.227,17.693z")
                                    path(d="M291.387,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C299.68,21.406,295.967,17.693,291.387,17.693z")
                                    path(d="M132.147,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C140.441,21.406,136.727,17.693,132.147,17.693z")
                                    path(d="M79.067,17.693H51.974v-9.4C51.974,3.712,48.261,0,43.68,0H8.294C3.713,0,0,3.712,0,8.294V43.68 c0,4.581,3.713,8.294,8.294,8.294h9.4v27.093c0,4.581,3.713,8.294,8.294,8.294c4.58,0,8.294-3.712,8.294-8.294V51.974h9.4 c4.58,0,8.294-3.712,8.294-8.294v-9.4h27.093c4.58,0,8.294-3.712,8.294-8.294C87.361,21.406,83.647,17.693,79.067,17.693z M35.387,35.387H16.587V16.587h18.799V35.387z")
                                    path(d="M344.466,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C352.76,21.406,349.047,17.693,344.466,17.693z")
                                    path(d="M397.546,17.693h-17.693c-4.58,0-8.294,3.712-8.294,8.294c0,4.581,3.713,8.294,8.294,8.294h17.693 c4.58,0,8.294-3.712,8.294-8.294C405.84,21.406,402.127,17.693,397.546,17.693z")


                    h3#tooldivider.dividerline="Vector Layers"
                    //- Objects Section Is below here 
                //- this is the sidebar of the tool area
                .windowsidebar
                    button.toolboxminimizebtn='◄'
                    button#addimagebtn.toolboxaddimagebtn
                        svg.btnvectorgraphic(viewBox="0 0 25 25")
                            image.svgimg(href="images/add.svg", width="25px", height="25px")
                    button#addcaptionbtn.toolboxaddcaptionbtn
                        svg.btnvectorgraphic(viewBox="0 0 25 25")
                            image.svgimg(href="images/text.svg", width="25px", height="25px")
            #editbox.editbox
                //- Other Options Button Group
                .exportoptionsbar(style="display:flex;")
                    .buttongroup
                        button='Undo'
                        button='Delete'
                        button='Draft'
                        button='Export'
                //- svg figure location
                .svgholder
                    svg#figurecontainer.imagecontainer(viewBox="0 0 1500 1500", xmlns="http://www.w3.org/2000/svg", version="1.1", width="100%", height="100%", preserveAspectRatio="xMidYMid meet")
                        style
                            include css/svg.css

        footer.mainfooter
            .leftfooter
                .footerbuttongroup
                    a(href="/about")='How To'
                    a(href="/contact")='Contact Us'
                    a(href="/faq")='FAQ'

            h5.rightfooter="Developed by the USGS Astrogeology Science Center"