html 
    head
        title="PIE"
        style
            include css/pips2.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
        script
            include scripts/index.js
        script(src="https://cdn.jsdelivr.net/npm/geotiff", type="text/javascript")
    body
        header.pips2header 
            .leftcontainer
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            .centercontainer(style="text-align:center")
                img(src="/images/piedark.png", alt="PIElogo", class="pieLogo")
            .rightcontainer(style="text-align:right")
                img.headerimage(src="/images/LRO_0.png", alt="lroLogo")
                img.headerimage(src="/images/nasa-logo.png", alt="NasaLogo")
        span.maincontent
            //- Tool Box Section 
            #toolbox.toolboxcontainer
                #toolcontainer.toolscontainer
                    h3.dividerline="Tools"
                    .windowoptionsbar(style="display:flex;")
                        h4="File Tools"
                        button.windowminimizebtn='▲'
                    #filetools.filetoolsbox
                        label.text(for="figureoutputsize")="Choose an output size"
                        br
                        select#figsizeselect
                            each figsize in ["1500x1500", "2500x2000"]
                                option(value=fidsize) #{figsize}
                        br
                        label.text(for="backgroundcolor")="Select a background color"
                        br
                        input#backgroundcolor(type="color", name="backgroundcolor")

                    .windowoptionsbar(style="display:flex;")
                        h4="Editing Tools"
                        button#editminibtn.windowminimizebtn='▼'
                    #edittoolsbox.edittoolsbox.closed
                        label.text(for="northarrowopt")="North Button"
                        br
                        button#northarrowopt(type="button")
                            svg.btnvectorgraphic(viewBox="0 0 25 25")
                                g#northgroup(width=25, height=25, stroke-width="1")
                                    text(x="7.5",y="23", width="9px", height="8px", stroke="white", fill="white", stroke-width="0.25")="N"
                                    path(d="M12 0 L5 15 L12 9 L12 0", fill="white", stroke="black")
                                    path(d="M13 0 L20 15 L13 9 L13 0", fill="black", stroke="white")
                        br
                        label.text(for="sunarrowbtn")="Sun Button"
                        br
                        button#sunarrowopt(type="button")
                            svg.btnvectorgraphic(viewBox="0 0 25 25")
                                g#sungroup(width=25, height=25)
                                        circle(r="11", cx="12.5", cy="12.5", fill="black", stroke-width="2", stroke="white")      
                                        circle(r="4", cx="12.5", cy="12.5", fill="white", stroke="white")
                        br
                        label.text(for="observerarrowbtn")="Observer Button"
                        br
                        //-TODO:
                        button#observerarrowopt(type="button")
                            svg.btnvectorgraphic(viewBox="0 0 25 25")
                                g#observergroup(width=25, height=25, stroke-width="2")
                                    path#outerEyeLine(d="M0 12.5 c11.5 -6 9 -10 25 0 c-11.5 6 -9 10 -25 0", stroke="white", fill="black")
                                    path(d="M5 10 L3 5", stroke="white", fill="black")
                                    path(d="M20 10 L22 5", stroke="white", fill="black")
                                    path(d="M12.5 8 L12.5 2", stroke="white", fill="black")
                                    path(d="M8 7 L7 3", stroke="white", fill="black")
                                    path(d="M17 7 L17 3", stroke="white", fill="black")
                                    ellipse(cx="12.5", cy="12.5", rx="5", ry="6", stroke="white", fill="black")
                                    circle(cx="12.5" cy="12.5", stroke="black", fill="white",stroke-width="1",  r="2")
                        br
                        label="Pencil Button"
                        br
                        label.rocker.rocker-small(for="pencilopt")
                            input#pencilopt(type="checkbox", name="pencilswitch")
                            span.switch-left="On"
                            span.switch-right="Off"
                        br
                        label.text="Outline Box"
                        br
                        label.rocker.rocker-small(for="outlineopt")
                            input#outlineopt(type="checkbox", name="outlineswitch")
                            span.switch-left="On"
                            span.switch-right="Off"

                    h3#tooldivider.dividerline="Vector Layers"
                    //- Objects Section Is below here 
                //- this is the sidebar of the tool area
                .windowsidebar
                    button.toolboxminimizebtn='◄'
                    button#addimagebtn.toolboxaddimagebtn
                        svg.btnvectorgraphic(viewBox="0 0 25 25")
                            image.svgimg(href="images/add.svg", width="25px", height="25px")
                    button#addcaptionbtn.toolboxaddcaptionbtn
                        svg.btnvectorgraphic(viewBox="0 0 30 32")
                            image.svgimg(href="images/letter-t.png", width="75%", height="25px")
            #editbox.editbox
                //- Other Options Button Group
                .exportoptionsbar(style="display:flex;")
                    .buttongroup
                        button='Undo'
                        button='Delete'
                        button='Draft'
                        button='Export'
                //- svg figure location
                .svgholder
                    svg#figurecontainer.imagecontainer(viewBox="0 0 1500 1500", xmlns="http://www.w3.org/2000/svg", version="1.1", width="100%", height="100%", preserveAspectRatio="xMidYMid meet")
                        style
                            include css/svg.css
        footer.mainfooter
            .leftfooter
                .footerbuttongroup
                    a(href="")='About'
                    a(href="")='Contact'
                    a(href="")='FAQ'
                    a(href="https://github.com/ChaddFrasier/PIE/issues")='Report an Issue'

            h5.rightfooter="Developed by the USGS Astrogeology Science Center"