html 
    head
        title="PIE"
        style
            include css/pips2.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
        script
            include scripts/index.js
    body
        header.pips2header 
            .leftcontainer
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo")
            .centercontainer(style="text-align:center")
                img(src="/images/piedark.png", alt="PIElogo", class="pieLogo")
            .rightcontainer(style="text-align:right")
                img(src="/images/nasa-logo.png", alt="NasaLogo")
        span(style="display:flex; height:75%;width:100%;")
            #toolbox.toolboxcontainer
                .toolscontainer
                    .windowoptionsbar(style="display:flex;")
                        h4(style="margin:0;")="File Tools"
                        button.windowminimizebtn='▲'
                    .filetoolsbox="FILE TOOLs"
                    .windowoptionsbar(style="display:flex;")
                        h4(style="margin:0;")="Editing Tools"
                        button.windowminimizebtn='▲'
                    .edittoolsbox="EDITING TOOLS"
                .windowsidebar
                    button.toolboxminimizebtn='◄'
            
            #editbox.editbox
                .exportoptionsbar(style="display:flex;")
                    .buttongroup
                        button='Undo'
                        button='Delete'
                        button="Draft"
                        button='Export'
                svg.imagecontainer(viewBox="0 0 1000 1000")
                    style 
                        include css/svg.css
                    text(x=10, y=100, textLength="400px")="THIS WILL BE A LABEL BOX."
                    image(src="images/M175124932LR.tif", width="100%", height="auto")

        footer.mainfooter
            .leftfooter
                .footerbuttongroup
                    a(href="")='About'
                    a(href="")='Contact'
                    a(href="")='FAQ'
                    a(href="https://github.com/ChaddFrasier/PIE/issues")='Report an Issue'

            h5.rightfooter="Developed by the USGS Astrogeology Science Center"