extends layout

block pagescript
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
    script(src="/javascripts/svgHelper.js", type="text/javascript")
    script(src="/javascripts/GhostDraggable.js", type="text/javascript")
    script(src="/javascripts/DraggableArea.js", type="text/javascript")
    script(src="/javascripts/DraggableList.js", type="text/javascript")
    script(src="/javascripts/index.js", type="text/javascript")

block content
    header.pips2header 
        .leftcontainer
            img#usgsNavIcon(src="images/usgsLogo.png", alt="HeaderLogo", class="usgsLogo", onclick="navigateTo('https://www.usgs.gov/centers/astrogeology-science-center')")
        .centercontainer(style="text-align:center")
            img(src="images/pieLogo.svg", alt="PIElogo", class="titleLogo")
        .rightcontainer(style="text-align:right")
            img.headerimage(src="images/LRO_0.png", alt="lroLogo")
            img.headerimage(src="images/pdslogo.png", alt="PSDLogo")
    span#maincontent.maincontent
        //- Tool Box Section 
        #toolbox.toolboxcontainer
            #toolcontainer.toolscontainer
                h3.dividerline="Tools"
                .windowoptionsbar(style="display:flex;")
                    h4="File Tools"
                    button.windowminimizebtn='▼'
                #filetools.filetoolsbox.closed
                    label.text(for="figureoutputsize")="Figure Size"
                    br
                    select#figsizeselect
                        optgroup
                            each figsize in ["1500x1500", "2500x2000"]
                                option(value=fidsize) #{figsize}
                    br
                    label.text(for="backgroundcolor")="Background Color"
                    br
                    input#backgroundcolor(type="color", name="backgroundcolor", value="#1D84B5")
                    br
                    label.text(for="backgroundcolor")="Export Figure as "
                    br
                    button#exportbtn(type="button", name="exportFigureButton")
                        svg(viewBox="0 0 100 100")
                            g(stroke="#000000")
                                path(d="m3.1231 15.551s1.3476 4.0152 10.775 4.1427c9.4272 0.12744 10.694-4.4231 10.694-4.4231l72.511 0.28039v67.253h-93.98z" fill="none" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="3.4396")
                                ellipse(cx="13.906" cy="13.496" rx="10.935" ry="5.1798" fill="#000000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="2.1725")
                                path(d="m46.633 20.28h8.7288v19.755h8.7288l-13.093 19.755-13.093-19.755h8.7288z" fill="#000000" stroke-width=".14621px")
                                rect(x="13.292" y="66.684" width="71.032" height="8.5526" fill="#000000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="2.5595")
                                rect(x="73.747" y="45.417" width="10.576" height="29.82" fill="#000000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="2.6266")
                                rect(x="13.292" y="45.417" width="10.576" height="29.82" fill="#000000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="2.6266")

                .windowoptionsbar(style="display:flex;")
                    h4="Editing Tools"
                    button#editminibtn.windowminimizebtn='▼'
                #edittoolsbox.edittoolsbox.closed
                    label.text(for="icongroup")="Geospacial Icons"
                    #icongroup.concisebtngroup
                        button#northarrowopt.disabled(type="button" title="North Arrow")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 27 27" xml:space="preserve")
                                svg#northgroup(viewBox="0 0 27 27")
                                    g.holder
                                        path(d="m13.468 6.2389-1.98 8.0812-7.92 2.0203 7.92 2.0203 1.98 8.0812 1.98-8.0812 7.92-2.0203-7.92-2.0203z" fill="none" stroke-linejoin="round" stroke-width=".20001px" stroke="black")
                                        path(d="m23.368 16.34-9.9181 0.07205 1.9981 1.9483z" fill="#000000" stroke-width=".23238" stroke="black")
                                        path(d="m13.472 26.441c-0.02018-0.09062-1.9844-8.0799-1.9844-8.0799l1.9619-1.9483z" fill="#000000" stroke-width=".16979px" stroke="black")
                                        path(d="m13.468 6.2389-0.0182 10.174 1.9981-2.0924z" fill="#000000" stroke-width=".1621px" stroke="black")
                                        path(d="m3.568 16.34 9.8819 0.07206-1.9619-2.0924z" fill="#000000" stroke-width=".15632px" stroke="black")
                                        path(d="m13.468 6.2389-1.98 8.0812 1.9619 2.0924z" fill="#ffffff" stroke-width=".26788" stroke="black")
                                        path(d="m15.448 14.32-1.998 2.0924 9.9181-0.07208z" fill="#ffffff" stroke-width=".2479px" stroke="black")
                                        path(d="m13.45 16.412 0.0181 10.029 1.98-8.0812z" fill="#ffffff" stroke-width=".2479px" stroke="black")
                                        path(d="m3.568 16.34 9.8818 0.07206-1.9618 1.9483z" fill="#ffffff" stroke-width=".2479px" stroke="black")
                                        text(transform="scale(1.0118 .98833)" x="3.542416" y="5.7972522" fill="#ffffff" font-family="Times" font-size="8.205px" stroke-width=".20542" stroke="black" style="line-height:1.25" xml:space="preserve")
                                            tspan(x="10.255" y="5.7972522" fill="inherit" font-family="Times" stroke="inherit" stroke-width=".20542")="N"
                                    rect.marker(width="100%" height="100%" fill="transparent" stroke="transparent")

                        button#sunarrowopt.disabled(type="button" title="Sun Azimuthal")
                            svg.btnvectorgraphic(viewBox="0 0 27 27")
                                svg#sungroup(viewBox="0 0 27 27")
                                    g.holder
                                        path(d="m12.171 7.8326v-3.9686h-1.5877l2.6458-3.7591 2.6458 3.7591h-1.588v3.8684z" stroke="#fff" fill="#000" stroke-linejoin="round" stroke-width="1.1")
                                        ellipse(cx="13.229" cy="16.536" rx="9.3835" ry="9.3835" stroke="#fff" fill="#000" stroke-width="1.1" stroke-dashoffset="3.5906" stroke-linejoin="round")
                                        ellipse( cx="13.229" cy="16.536" rx="3.0833" ry="3.0833" fill="#fff" stroke="#000" stroke-width="1.1" stroke-dashoffset="3.5906" stroke-linejoin="round")
                                    rect.marker(width=30 height=30 fill="transparent" stroke="transparent")
                        
                        button#observerarrowopt.disabled(type="button" title="Spacecraft Azimuthal")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 27 27" xml:space="preserve")
                                svg#observergroup(viewBox="0 0 27 27")
                                    g.holder
                                        path(d="m12.171 7.8326v-3.9686h-1.5877l2.6458-3.7591 2.6458 3.7591h-1.588v3.8684z" stroke="#fff" fill="#000" stroke-linejoin="round" stroke-width="1")
                                        ellipse(cx="13.229" cy="16.536" rx="9.3835" ry="9.3835" stroke="#fff" fill="#000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="1.5")
                                        path(d="m4.8655 16.166c7.117-6.4931 10.277-6.4649 16.714 0.21304-6.6981 6.4146-9.1385 6.2371-16.714-0.21304z" stroke="#fff" fill="#000" stroke-width="1")
                                        ellipse(cx="13.46" cy="16.251" rx="3.2148" ry="4.4747" fill="#fff" stroke="#fff" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="1.5")
                                        ellipse(cx="13.459" cy="16.145" rx="1.4589" ry="2.1038" fill="#000" stroke="#000" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="1.5")
                                        ellipse(cx="14.279" cy="14.784" rx=".72946" ry="1.0519" fill="#fff" stroke="#fff" stroke-dashoffset="3.5906" stroke-linejoin="round" stroke-width="1.5")
                                    rect.marker(width=30 height=30 fill="transparent" stroke="transparent")
                        button#scalebarbtnopt.disabled(type="button" title="Scale Bar")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 4500 700" width="27" height="27" )
                                svg#scalebargroup(viewBox="0 0 4500 700")
                                    g.holder
                                        //- main conainting box bg
                                        rect(x="248.7" y="217.14" width="3953.1" height="463.01" stroke="#fff" stroke-width="39.57")

                                        //- main bg box parts
                                        rect(x="2225.2" y="423.5" width="1996.3" height="50.272" fill="#fff")
                                        rect(x="250" y="423.5" width="200" height="50.272" fill="#fff")
                                        rect(x="650" y="423.5" width="200" height="50.272" fill="#fff")
                                        rect(x="1050" y="423.5" width="200" height="50.272" fill="#fff")
                                        rect(x="1450" y="423.5" width="200" height="50.272" fill="#fff")
                                        rect(x="1850" y="423.5" width="200" height="50.272" fill="#fff")

                                        //- vertical parts
                                        rect(x="2225.2" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="2025.6" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="428.61" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="628.24" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="827.86" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="1027.5" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="1227.1" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="1426.7" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="1626.4" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        rect(x="1826" y="197.28" width="49.907" height="502.72" fill="#fff")
                                        
                                        text(transform="matrix(.99813 0 0 1.0054 253.04 142.66)" font-size="40px" fill="#ffffff" font-family="sans-serif" style="line-height:1.25;shape-inside:url(#rect1085);white-space:pre" xml:space="preserve")
                                            tspan(x="1940.248" y="18.501405")
                                                tspan(font-size="192px")="0"
                                        text(transform="matrix(.99813 0 0 1.0054 -1762.6 145.81)" font-size="40px" fill="#ffffff" font-family="sans-serif" style="line-height:1.25;shape-inside:url(#rect1085-2);white-space:pre" xml:space="preserve")
                                            tspan(x="1940.248" y="18.501405")
                                                tspan(font-size="192px")="1"
                                        text(transform="matrix(.99813 0 0 1.0054 54.566 160.93)" font-size="192px" fill="#ffffff" font-family="sans-serif" style="line-height:1.25;shape-inside:url(#rect1120);white-space:pre" xml:space="preserve")
                                            tspan(x="3910.623" y="0.42523331")
                                                tspan(style="shape-inside:url(#rect1120)")="1 km"
                                        rect(x="241.67" y="210.06" width="3967.2" height="477.16" fill-opacity="0" stroke="#fff" stroke-width="50" fill="#ffffff" font-family="sans-serif")
                                        
                                    rect.marker(x="0" y="0" width="4500" height="700" fill-opacity="0" stroke="transparent" pointer-events="inherit")

                    br
                    label.text(for="annotategroup")="Annotation Tools"
                    #annotategroup.concisebtngroup
                        button#penciloptbtn(type="button" title="Line Tool")
                            svg.btnvectorgraphic(height="25" viewBox="0 -2 25 25" width="25" xmlns="http://www.w3.org/2000/svg")
                                g#pencilgroup(stroke="black" stroke-width="2")
                                    path(d="m19.788 15.562-3.2543 3.4393-13.528-12.8 3.2543-3.4393z" fill="none" stroke="#000" stroke-linejoin="round" stroke-width=".22123")
                                    path(d="m12.935 9.2079 6.6617 6.3034-3.123 3.3005-13.323-12.607 3.123-3.3005z" fill="#ff9923" fill-opacity=".89069" stroke="#ff9923" stroke-opacity=".8902" stroke-width=".091798")
                                    path(d="m6.2752 2.7452-5.1871-1.6489 1.9328 5.0882c0.30533-1.7802-0.002723-1.4546 1.5836-1.6736 0.26201-1.7344-0.046044-1.4088 1.6707-1.7657z" fill="none" stroke-width=".06982")
                                    path(d="m3.13 1.7814-1.2322 1.3022-0.79685-1.9881z" stroke-width=".11637")
                                    rect(transform="rotate(133.42)" x="-2.426" y="-27.327" width="4.9302" height="1.9452" fill="#f55" fill-opacity=".89069" stroke-linejoin="round" stroke-width=".07")
                                    rect(transform="rotate(133.42)" x="-2.2466" y="-24.93" width=".8964" height="18.48" stroke-width=".068389" fill="#f60" fill-opacity=".89069" stroke="#000")
                                    rect(transform="rotate(133.42)" x="1.5404" y="-24.93" width=".8964" height="18.48" stroke-width=".0684" fill="#f60" fill-opacity=".89069" stroke="#000")
                                    rect(transform="rotate(133.42)" x="-.29708" y="-24.92" width=".8964" height="18.48" stroke-width=".0684" fill="#f60" fill-opacity=".89069" stroke="#000")
                                    path(d="m5.0359 3.0666c0.09772-0.050764 0.15576-0.065469 0.59625-0.15118l0.36588-0.071186-0.3246 0.34886c-0.17853 0.19187-0.47328 0.50338-0.655 0.69223l-0.3304 0.34336 0.05087-0.36926c0.06076-0.44104 0.07046-0.4901 0.11886-0.60135 0.04509-0.10364 0.07882-0.13989 0.17814-0.19147z" fill-opacity=".8902" stroke="#000" fill="#ff9923" stroke-width=".004408")
                                    path(d="m3.4298 4.7425c0.0821-0.044442 0.24261-0.076435 0.57487-0.11459l0.35467-0.040728-0.62077 0.65605c-0.3595 0.37994-0.62102 0.64803-0.62138 0.63697-0.0012-0.036475 0.10822-0.7155 0.13191-0.8189 0.03882-0.16939 0.09819-0.27415 0.1807-0.3188z" fill="#ff9923" stroke-width=".004408" fill-opacity=".8902" stroke="#000")
                                    path(d="m4.6349 2.2685c0.78805 0.25071 1.4331 0.46003 1.4335 0.46514 3.54e-4 0.00515-0.18297 0.043568-0.40738 0.08545-0.60404 0.11274-0.73933 0.16515-0.84751 0.32839-0.06927 0.10454-0.10752 0.27429-0.1709 0.75864l-0.05783 0.44197-0.1293 0.13757-0.25384 0.029159c-0.65735 0.075511-0.72584 0.089615-0.84664 0.17432-0.13955 0.097866-0.18741 0.24642-0.28233 0.87629-0.03526 0.23397-0.06758 0.42535-0.07182 0.42529-0.0042-2.42e-5 -0.2494-0.63482-0.54479-1.4106l-0.53706-1.4105 1.2831-1.357z" fill-opacity=".8902" stroke="#000" fill="#ffa622" stroke-width=".097808")
                        button#outlinebtnopt(type="button" title="Outline Tool")
                            svg.btnvectorgraphic(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve")
                                g#outlinegroup(stroke="black", fill="none")
                                    rect(x="1" y="1" width="22" height="22" fill="transparent" stroke="#000" stroke-linejoin="round" fill-opacity=".8902" stroke-dasharray="3.77952766,1.88976383" stroke-dashoffset="3.5906" stroke-width="1.8898")
                                    rect(x=".47244" y=".47244" width="4" height="4" stroke-dashoffset="3.9685" stroke-width=".94488")
                                    rect(x="19.472" y=".47244" width="4" height="4" stroke-dashoffset="3.9685" stroke-width=".94488")
                                    rect(x="19.472" y="19.472" width="4" height="4" stroke-dashoffset="3.9685" stroke-width=".94488")
                                    rect(x=".47244" y="19.472" width="4" height="4" stroke-dashoffset="3.9685" stroke-width=".94488")
                    

                h3#tooldivider.dividerline="Vector Layers"
                //- Objects Section Is below here
                div#DraggableContainer.nobody
          
            //- this is the sidebar of the tool area
            .windowsidebar
                button.toolboxminimizebtn(title="Toggle Tools")='⇤'
                button#addimagebtn.toolboxaddimagebtn(title="Add Image")
                    img.svgimg(src="/images/addPlanetImage.svg")
                button#addcaptionbtn.toolboxaddcaptionbtn(title="Add Caption")
                    img.svgimg(src="/images/addCaptionImage.svg")
        #editbox.editbox
            //- Other Options Button Group
            .exportoptionsbar(style="display:flex;")
                .buttongroup
                    button#strtoverbtn.disabled(onclick="startOverFunction()")='Restart'
            //- svg figure location
          
            svg.svgholder(viewBox="-500 0 2500 1500", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/2000/svg")
                svg#figurecontainer.imagecontainer(viewBox="0 0 1500 1500", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/2000/svg", version="1.1", width="1500", height="1500", preserveAspectRatio="xMidYMid meet")
                    defs#figdefs
                        //- markder endings can change size using markerHeight and markerWidth
                        marker(id="arrowhead" viewBox="0 0 10 10" markerWidth="5px" markerHeight="5px" refX="0.1" refY="2.5" orient="auto")
                            path( d="M 0 0 L 5 2.5 L 0 5" fill="#fff" stroke-width="2")
                        marker(id="circlehead" viewBox="0 0 10 10" markerWidth="5px" markerHeight="5px" refX="0.1" refY="2.5" orient="auto")
                            circle(r="2.5" cx="2.5" cy="2.5" fill="#fff" stroke="transparent" stroke-width="2")
                        marker(id="squarehead"  viewBox="0 0 10 10" markerWidth="5px" markerHeight="5px" refX="0.1" refY="2.5" orient="auto")
                            polygon(points="0 0 0 5 5 5 5 0" fill="#fff" stroke="transparent" stroke-width="2")
                    style
                        include livestyle/svg.css
                    rect#bgelement(width="100%" height="100%")
block footer
    footer.mainfooter
        .leftfooter
            .footerbuttongroup
                a(href="/about")='Getting Started'
                a(href="/contact")='Contact Us'
                a(href="/faq")='FAQ'

        h5.rightfooter="Developed by the USGS Astrogeology Science Center"
