html
    head
        title= title
        style
            include css/pips2.css
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
        script
            include scripts/login.js
    body
        header.pips2header 
            .leftcontainer
                img(src="/images/usgsLogo.png", alt="HeaderLogo", class="headerLogo")
            .centercontainer(style="text-align:center;")
                h1.pagetitle= "Login to use PIPS2"
            .rightcontainer(style="text-align:right;")
                h4=date
        div
            span
                form.inputcontainer#signinform(action='/', method="POST")
                    h3= emailMessage
                    .centercontainer(style="text-align:center;margin: 0 auto 0 auto;")
                        label(for="email")= "USGS Email"
                        input#email(type="email", name="usgsEmail", placeholder="someone@usgs.gov", pattern=".+(@usgs.gov|@contractor.usgs.gov)", class="logininputbox")
                    .centercontainer(style="text-align:center; margin: 0 auto 0 auto;")
                        label(for="passcode")="Password"
                        input#passcode(type="password", name="usgsPassword", placeholder="***********", class="logininputbox")
                    br
                    input.btnLg(type="submit", value="Sign in", onclick="validateForm(document.getElementById('signinform'), document.getElementById('email').value);")
        footer.footerbox
            div="this is a footer"

